*,

::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #333;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}
/*---------------------*/
/*---------------------*/
/*---------------------*/
.page {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.page__section {
  padding: 0 10px;
}
.section {
  border-bottom: 3px solid black;
  margin: 30px;
  padding: 0 0 10px 0;
}
.section:last-child {
  border: none;
}
.left-section {
  padding: 90px 0 30px 0;
  width: 40%;
}
.right-section {
  padding: 0 0 30px 0;
  width: 60%;
}
.video-cv {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-cv iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.page__sub-title {
  font-size: 20px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.page__text {
  line-height: 150%;
}
.page__works {
  display: flex;
  flex-wrap: wrap;
}
.page__works > li {
  padding: 15px 0;
}
.page__list > li {
  padding: 5px 0;
}
.page__certificate {
  display: block;
  font-size: 20px;
  animation: color-change 2s infinite;
  margin: 15px 0;
}
.link > img {
  max-width: 185px;
  max-height: 119px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid rgb(127, 144, 190);
}
.link > img:hover {
  border: 2px solid rgb(25, 43, 92);
  }
@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}
/*----------------*/
/*----------------*/
/*----------------*/
.footer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(29, 42, 77);
  color: #fff;
}
.footer__link img {
  width: 80px;
  height: 40px;
}
.footer__link:hover img {
  border: 1px solid #fff;
  cursor: pointer;
  padding: 5px;
}
.footer__sub-title {
  font-size: 12px;
  text-align: center;
}
/*----------------*/
/*----------------*/
/*----------------*/
.header {
  background-color: rgb(29, 42, 77);
  color: #fff;
}
.header-container {
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.header__logo {
  border-radius: 10%;
  position: absolute;
  top: 10px;
}
.header__title-item {
  width: 50%;
  margin-left: auto;
}
.header__title {
  font-size: 40px;
  text-transform: uppercase;
}
.header__subtitle {
  font-size: 20px;
  text-transform: uppercase;
}
.header__menu {}
.menu {}
.menu__icon {}
.menu__body {}
.menu__list {}
.menu__list > li {
  margin: 0 0 0 20px;
}
.menu__link {
  color: #fff;
  font-size: 20px;
}
.menu__link:hover {
  cursor: pointer;
  color: rgb(158, 39, 39);
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header__title-item {
    width: 70%;
  }
  .page {
    flex-direction: column-reverse;
  }
  .page__section {
    padding: 0;
  }
  .left-section {
    width: 100%;
    padding-top: 0;
  }
  .right-section {
    width: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__list > li {
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
  }
  .page__works > li {
    padding-right: 30px;
  }
}
@media (max-width: 630px) {
  .header__logo {
    top: 100px;
  }
  .header__title-item {
    width: 100%;
    padding: 0 5px 0 0;
  }
}
@media (max-width: 480px) {
  .header__logo {
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .contact {
    padding: 190px 0 0 0;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .header__title {
    font-size: 30px;
    text-transform: uppercase;
  }
  .header__subtitle {
    font-size: 16px;
    text-transform: uppercase;
  }
}
